
<form class="pi-form">

  <div class="ps-header">
    <mat-form-field>
      <input matInput placeholder="" disabled value="Personal Information">
    </mat-form-field>
  </div>
  
  <div class="pi-buyer">
      <mat-form-field>
        <input matInput placeholder="First name" type="text">
      </mat-form-field><br>

      <mat-form-field>
        <input matInput placeholder="Last name" type="text">
      </mat-form-field><br>
  
      <mat-form-field>
        <input matInput placeholder="Phone" type="tel">
      </mat-form-field><br>
  
      <mat-form-field>
        <input matInput placeholder="E-mail" type="email">
      </mat-form-field><br>
  </div>
    
  <div class="pi-nav-buttons">
        <div class="rt-button">
        <button 
          mat-raised-button color="basic" 
          routerLink="/transaction">BACK
        </button>
      </div>
       <div class="pi-submit">
          <button type="submit" 
            mat-raised-button color="accent" 
            routerLink="/summary">NEXT
          </button>
        </div>
  </div>    
</form>

  <!--
    <mat-form-field>
        <input matInput placeholder="DateTime" type="datetime-local">
      </mat-form-field>
-->      