
<div class="summary">
    <mat-list>
        <mat-list-item class="s-header">transaction summary</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>buyer info</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>seller info</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>transaction details</mat-list-item>
            <mat-divider></mat-divider>
    </mat-list>
    <div class="rt-button">
        <button mat-raised-button 
                color="basic" 
                routerLink="/persons">BACK
        </button>
    </div>
</div>

<!--       
  <div class="s-header">
      <mat-card>
          <mat-card-title>transaction summary</mat-card-title>
      </mat-card>
  </div>

  <div class="s-persons">
    <div class="s-buyer">
        <mat-card>
            <mat-card-title>buyer</mat-card-title>
            <mat-card-content>I am the buyer</mat-card-content>
        </mat-card>
    </div>
    <div class="s-seller">
        <mat-card>
            <mat-card-title>seller</mat-card-title>
            <mat-card-content>I am the seller</mat-card-content>
        </mat-card>
    </div>
  </div>

  <div class="s-transaction">
      <mat-card>
          <mat-card-title>transaction details</mat-card-title>
          <mat-card-content>
            <p>Start where you are. Use what you have. Do what you can.</p>
          </mat-card-content>
      </mat-card>
  </div> -->

 