
.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rt-button {
    margin-top: 1em;
}

button {
    font-size: 1em;
}

/*
.s-header {
    order: 1;
    padding: 0.5em;
}

.s-persons {
    order: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0.5em;
}

.s-persons.s-buyer {
    order: 1;
    padding: 0.2em;
}

.s-persons.s-seller {
    order: 2;
    padding: 0.2em;
}

.s-transaction {
    order: 3;
    padding: 0.5em;
}

.rt-button {
    order: 4;
    padding: 0.2em;
}
*/