
<form class="tr-form">
  <div class="tr-header">
    <mat-form-field>
    <input matInput placeholder="" disabled value="Transaction Information">
  </mat-form-field>
  </div>

  <div class="tr-description">
    <mat-form-field>
      <textarea matInput placeholder="Description" matTextareaAutosize></textarea>
    </mat-form-field>
  </div>

  <div class="tr-datepicker">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="tr-location">
    <mat-form-field>
      <input matInput placeholder="Location" type="text">
    </mat-form-field>
  </div>

  <div class="tr-nav-buttons">
    <div class="rt-button">
      <button mat-raised-button 
        color="basic" 
        routerLink="/start">BACK
      </button>
    </div>
    <div class="tr-submit">
      <button 
        type="submit" 
        mat-raised-button color="accent" 
        routerLink="/persons">NEXT
      </button>  
    </div>
  </div> 
</form>