.tr-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tr-header {
  order: 1;
  flex: 0 1 auto;
  align-self: auto;
}

.tr-description {
  order: 2;
  flex: 0 1 auto;
}

.tr-datepicker {
 order: 3;
 flex: 0 1 auto;
}

.tr-location {
  order: 4;
  flex: 0 1 auto;
}

.tr-nav-buttons {
  margin-top: 0.5em;
  order: 5;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.rt-button {
  margin-right: 1em;
  
}
.tr-submit {
  margin-left: 1em;
}

button {
  font-size: 1em;
}


